.aboutContainer{
    .flexDisplay(column, space-around, center);
    height: 35vh;
    width: 100%;

    @media @tablet{
        height: 40vh;
    }

    @media @xldesktop{
        height: 55vh;
    }

  

  
    .backgroundCard{
        .flexDisplay(column, space-around, center);
        width: 80%;
        height: 25vh;
        background-image: url("../images/pic03.jpg");
        background-size: cover;
        border-radius: 10px;

        @media @tablet{
            height: 30vh;
        }

        @media @xldesktop{
            height: 45vh;
        }

      

    .about{
        width: 90%;
        font-size: .6rem;

        @media @tablet{
            font-size: 1rem;
        }
        @media @desktop{
            font-size: 1.25rem
        }
    }
}
}

.artifactsContainer{
    .flexDisplay(row, space-around, center);

    .gitLink{
        margin-top: 5vh;
        a{
            i{
                font-size: 5rem;
                color: white;

                @media @desktop {
                    font-size: 5rem
                }
            }
        }
    }
}

